@import '../../index.scss';
.header {
  text-align: center;
  padding-block: 38px;
  background-image: url(../../assets/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 54px;
  @include mq(600px) {
    margin-bottom: 22px;
  }

  h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 12px;
    color: #293356;
    @include mq(600px) {
      font-size: 20px;
      line-height: 27px;
    }
  }

  p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #848ead;
    @include mq(600px) {
      font-size: 13px;
      line-height: 23px;
      max-width: 189px;
      margin: 0 auto;
    }
  }
}
