.slider {
  margin-bottom: 80px;
}

.customSlider {
  /* max width of your slider */

  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
}

.customSlider-track {
  /* Top value to align your track to the center of your thumb */
  top: 16px;
  /* thickness of the track */
  height: 8px;
  /* default color of your track */
  background: var(--track-color);
  border-radius: 5px;
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: var(--main-color);
  border-radius: 5px;
}

.customSlider-thumb {
  cursor: pointer;
  /*color for the thumb */
  background: #10d8c4;
  /* shape of the thumb: circle */
  width: 40px;
  height: 40px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  background-image: url(../../assets/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.customSlider-mark {
  cursor: pointer;
  top: 6px;
  width: 1.5px;
  height: 8px;
  background-color: #aaaaaa;
}

.customSlider-thumb:hover {
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  background: #7aeadf;
  background-image: url(../../assets/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.customSlider-thumb:active {
  background: #24aea1;
  background-image: url(../../assets/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  cursor: grabbing;
}

.customSlider-mark.customSlider-mark-before {
  background-color: var(--main-color);
}

.customSlider-mark.customSlider-mark-active {
  display: none;
}
